@import 'variables';

.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $star-size;

  &__wrap {
    display: flex;
    height: 16px;
  }

  @for $row from 1 through 4 {
    &--#{$row} {
      width: 16px;
      background-image: $background-image-active;
      background-repeat: no-repeat;
      background-position: center;
      margin-right: 4px;
      opacity: 1;
    }
  }

  &--5 {
    width: 16px;
    background-image: $background-image-inactive;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__reviews {
    margin-left: 17px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
  }
}
